.html
{
	background-color: #3A3A3A;
}

#page
{
	z-index: 1;
	width: 841px;
	min-height: 478px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #2C2B2B;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 89px 88px 30px;
}

#u69-4
{
	z-index: 2;
	margin-left: 197px;
}

#menuu91
{
	z-index: 9;
	width: 446px;
	margin-left: 227px;
	margin-top: 14px;
}

#u92
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
}

#u95
{
	width: 147px;
	padding-bottom: 17px;
}

#u95:hover
{
	margin: 0px;
}

#u95:active
{
	margin: 0px;
}

#u140
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
	left: 149px;
}

#u141
{
	width: 147px;
	padding-bottom: 17px;
}

#u95.MuseMenuActive,#u141:hover
{
	margin: 0px;
}

#u141:active
{
	margin: 0px;
}

#u96-4,#u142-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u153
{
	width: 148px;
	min-height: 34px;
	margin-right: -10000px;
	left: 298px;
}

#u156
{
	width: 148px;
	padding-bottom: 17px;
}

#u141.MuseMenuActive,#u156:hover
{
	margin: 0px;
}

#u156:active
{
	margin: 0px;
}

#u156.MuseMenuActive
{
	margin: 0px;
}

#u159-4
{
	width: 148px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#pu87-3
{
	width: 0.01px;
	margin-top: 36px;
	position: relative;
}

#u87-3
{
	z-index: 6;
	width: 5px;
	margin-right: -10000px;
	margin-top: 85px;
	left: 607px;
}

#u211-38
{
	z-index: 28;
	width: 490px;
	min-height: 334px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 351px;
}

#u211-2
{
	font-size: 18px;
	line-height: 22px;
	color: #E2E2E9;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
}

#u211-5
{
	color: #ED1C24;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
}

#u211-9
{
	font-size: 18px;
	line-height: 22px;
	color: #E2E2E9;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
}

#u211-11
{
	font-size: 16px;
	line-height: 19px;
	color: #E2E2E9;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u211-25
{
	font-size: 16px;
	line-height: 19px;
	color: #E2E2E9;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
}

#u211-10,#u211-24
{
	text-decoration: underline;
}

#u211-31,#u211-33,#u211-35
{
	font-size: 14px;
	color: #E2E2E9;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
}

#u211-3,#u211-6,#u211-7,#u211-13,#u211-15,#u211-17,#u211-19,#u211-21,#u211-22,#u211-23,#u211-27,#u211-29,#u211-36
{
	color: #E2E2E9;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
}

#u217
{
	z-index: 66;
	width: 264px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 47px;
}

#u206-3
{
	z-index: 67;
	width: 250px;
	min-height: 59px;
	border-width: 7px;
	border-style: solid;
	border-color: #222223;
	background-color: #5C5C5F;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	color: #E2E2E9;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u208-4
{
	z-index: 70;
	width: 257px;
	min-height: 16px;
	color: #E2E2E9;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 3px;
}

#u218
{
	z-index: 74;
	width: 356px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
}

body
{
	padding-top: 36px;
	padding-bottom: 60px;
}

#page .verticalspacer
{
	clear: both;
}

