#u96-4,#u142-4,#u159-4
{
	font-family: comfortaa-n4, sans-serif;
}

#u211-2,#u211-3,#u211-5,#u211-6,#u211-7,#u211-11,#u211-13,#u211-15,#u211-17,#u211-19,#u211-21,#u211-22,#u211-23,#u211-25,#u211-27,#u211-29,#u211-31,#u211-33,#u211-35,#u211-36
{
	font-family: comfortaa-n4, sans-serif;
}

#u211-9,#u206-3,#u208-4
{
	font-family: comfortaa-n7, sans-serif;
}

