.html
{
	background-color: #3A3A3A;
}

#page
{
	z-index: 1;
	width: 851px;
	min-height: 469px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #2C2B2B;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 74px 97px 35px;
}

#u69-4
{
	z-index: 2;
	margin-left: 192px;
}

#menuu91
{
	z-index: 9;
	width: 446px;
	margin-left: 222px;
	margin-top: 14px;
}

#u92
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
}

#u95
{
	width: 147px;
	padding-bottom: 17px;
}

#u95:hover
{
	margin: 0px;
}

#u95:active
{
	margin: 0px;
}

#u140
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
	left: 149px;
}

#u141
{
	width: 147px;
	padding-bottom: 17px;
}

#u95.MuseMenuActive,#u141:hover
{
	margin: 0px;
}

#u141:active
{
	margin: 0px;
}

#u96-4,#u142-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u153
{
	width: 148px;
	min-height: 34px;
	margin-right: -10000px;
	left: 298px;
}

#u156
{
	width: 148px;
	padding-bottom: 17px;
}

#u141.MuseMenuActive,#u156:hover
{
	margin: 0px;
}

#u156:active
{
	margin: 0px;
}

#u156.MuseMenuActive
{
	margin: 0px;
}

#u159-4
{
	width: 148px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#pu87-3
{
	width: 0.01px;
	margin-top: 16px;
	position: relative;
}

#u87-3
{
	z-index: 6;
	width: 5px;
	margin-right: -10000px;
	margin-top: 105px;
	left: 602px;
}

#u185-13
{
	z-index: 28;
	width: 344px;
	min-height: 339px;
	color: #E2E2E9;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 507px;
}

#u185,#u185-4,#u185-7
{
	color: #E2E2E9;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
}

#u185-2,#u185-3,#u185-5,#u185-6,#u185-8,#u185-9
{
	text-align: center;
}

#u235
{
	z-index: 41;
	width: 484px;
	position: relative;
	margin-right: -10000px;
}

body
{
	padding-top: 36px;
	padding-bottom: 60px;
}

#page .verticalspacer
{
	clear: both;
}

