#u69-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#menuu91
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
}

#u95
{
	border-color: #000000;
	background-color: #2F2F2F;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u95:hover
{
	background-color: #3E3F43;
}

#u95:active
{
	background-color: #6B6B6B;
}

#u141
{
	border-color: #000000;
	background-color: #2F2F2F;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u141:hover
{
	background-color: #3E3F43;
}

#u141:active
{
	background-color: #6B6B6B;
}

#u156
{
	border-color: #000000;
	background-color: #2F2F2F;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u156:hover
{
	background-color: #3E3F43;
}

#u156:active
{
	background-color: #6B6B6B;
}

#u95.MuseMenuActive,#u141.MuseMenuActive,#u156.MuseMenuActive
{
	background-color: #222223;
}

#u96-4,#u142-4,#u159-4
{
	color: #E2E2E9;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u92,#u140,#u153,#u87-3
{
	position: relative;
}

