.html
{
	background-color: #3A3A3A;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 477.60000000000014px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #2C2B2B;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 88.39999999999986px;
}

#pslideshowu242
{
	width: 0.01px;
	padding-bottom: 299px;
	position: relative;
}

#slideshowu242
{
	z-index: 28;
	width: 0.01px;
	height: 108px;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 321px;
}

#u253
{
	position: absolute;
	width: 920px;
	height: 546px;
	background-color: #565656;
	background-color: rgba(68, 68, 68, 0.9);
	top: -139px;
	left: -321px;
	-pie-background: rgba(68, 68, 68, 0.9);
}

#u253popup
{
	z-index: 29;
}

#u411
{
	z-index: 30;
	width: 876px;
	height: 502px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u411_img
{
	margin-left: -9px;
	margin-right: -9px;
}

#u420
{
	z-index: 32;
	width: 876px;
	height: 502px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u411_clip,#u420_clip
{
	overflow: hidden;
	width: 876px;
	height: 502px;
}

#u370
{
	z-index: 34;
	width: 876px;
	height: 502px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u370_img
{
	padding: 71px 47px;
}

#u447
{
	z-index: 36;
	width: 876px;
	height: 502px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u447_img
{
	padding: 11px 118px;
}

#u245
{
	position: absolute;
	width: 278px;
	padding-bottom: 59px;
}

#u245popup
{
	z-index: 38;
}

#u414
{
	z-index: 39;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u423
{
	z-index: 41;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 74px;
}

#u420_img,#u414_img,#u423_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u373
{
	z-index: 43;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 144px;
}

#u414_clip,#u423_clip,#u373_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u373_img
{
	margin-left: -19px;
	margin-right: -19px;
}

#u450
{
	z-index: 45;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 214px;
}

#u244-4
{
	position: absolute;
	width: 10px;
	min-height: 42px;
	padding: 10px;
	color: #999999;
	line-height: 42px;
	text-align: center;
	font-size: 30px;
	font-family: coda, sans-serif;
	font-weight: 400;
	top: 108px;
	left: -321px;
}

#u244-4popup
{
	z-index: 47;
}

#u243-4
{
	position: absolute;
	width: 10px;
	min-height: 42px;
	padding: 10px;
	color: #999999;
	line-height: 42px;
	text-align: center;
	font-size: 30px;
	font-family: coda, sans-serif;
	font-weight: 400;
	top: 108px;
	left: 569px;
}

#u243-4popup
{
	z-index: 51;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u69-4
{
	z-index: 2;
	margin-right: -10000px;
	left: 207px;
}

#menuu91
{
	z-index: 9;
	width: 446px;
	margin-left: 237px;
	top: -501px;
	margin-bottom: -34px;
}

#u92
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
}

#u95
{
	width: 147px;
	padding-bottom: 17px;
}

#u95:hover
{
	margin: 0px;
}

#u95:active
{
	margin: 0px;
}

#u140
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
	left: 149px;
}

#u141
{
	width: 147px;
	padding-bottom: 17px;
}

#u95.MuseMenuActive,#u141:hover
{
	margin: 0px;
}

#u141:active
{
	margin: 0px;
}

#u96-4,#u142-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u153
{
	width: 148px;
	min-height: 34px;
	margin-right: -10000px;
	left: 298px;
}

#u156
{
	width: 148px;
	padding-bottom: 17px;
}

#u141.MuseMenuActive,#u156:hover
{
	margin: 0px;
}

#u156:active
{
	margin: 0px;
}

#u156.MuseMenuActive
{
	margin: 0px;
}

#u159-4
{
	width: 148px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u381-4
{
	z-index: 55;
	width: 86px;
	min-height: 37px;
	line-height: 29px;
	color: #E2E2E9;
	font-size: 24px;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	margin-left: 417px;
	top: -437px;
	margin-bottom: -37px;
	position: relative;
}

#u87-3
{
	z-index: 6;
	width: 5px;
	margin-left: 617px;
	top: -346px;
	margin-bottom: -17px;
}

#u458-4
{
	z-index: 59;
	width: 74px;
	min-height: 37px;
	line-height: 29px;
	color: #E2E2E9;
	font-size: 24px;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	margin-left: 423px;
	margin-top: 7px;
	position: relative;
}

#u459
{
	z-index: 63;
	width: 420px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 250px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 60px;
}

#page .verticalspacer
{
	clear: both;
}

