.html
{
	background-color: #3A3A3A;
}

#page
{
	z-index: 1;
	width: 659px;
	min-height: 477.60000000000014px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #2C2B2B;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 151px 88.39999999999986px 150px;
}

#u69-4
{
	z-index: 2;
	margin-left: 77px;
}

#menuu91
{
	z-index: 9;
	width: 446px;
	margin-left: 107px;
	margin-top: 14px;
}

#u92
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
}

#u95
{
	width: 147px;
	padding-bottom: 17px;
}

#u95:hover
{
	margin: 0px;
}

#u95:active
{
	margin: 0px;
}

#u140
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
	left: 149px;
}

#u141
{
	width: 147px;
	padding-bottom: 17px;
}

#u95.MuseMenuActive,#u141:hover
{
	margin: 0px;
}

#u141:active
{
	margin: 0px;
}

#u96-4,#u142-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u153
{
	width: 148px;
	min-height: 34px;
	margin-right: -10000px;
	left: 298px;
}

#u156
{
	width: 148px;
	padding-bottom: 17px;
}

#u141.MuseMenuActive,#u156:hover
{
	margin: 0px;
}

#u156:active
{
	margin: 0px;
}

#u156.MuseMenuActive
{
	margin: 0px;
}

#u159-4
{
	width: 148px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u381-4
{
	z-index: 55;
	width: 86px;
	min-height: 37px;
	line-height: 29px;
	color: #E2E2E9;
	font-size: 24px;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	margin-left: 287px;
	margin-top: 30px;
	position: relative;
}

#slideshowu242
{
	z-index: 28;
	width: 0.01px;
	height: 396px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u253
{
	position: absolute;
	width: 599px;
	height: 332px;
	background-color: transparent;
	top: 63px;
	left: 30px;
}

#u253popup
{
	z-index: 29;
}

#u411
{
	z-index: 30;
	width: 599px;
	height: 332px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u411_img
{
	margin: -2px 1px;
}

#u420
{
	z-index: 32;
	width: 599px;
	height: 332px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u420_img
{
	margin-left: 1px;
	margin-top: -1px;
	margin-bottom: -1px;
}

#u370
{
	z-index: 34;
	width: 599px;
	height: 332px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u370_img
{
	margin-left: -62px;
	margin-right: -62px;
}

#u447
{
	z-index: 36;
	width: 599px;
	height: 332px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u411_clip,#u420_clip,#u370_clip,#u447_clip
{
	overflow: hidden;
	width: 599px;
	height: 332px;
}

#u447_img
{
	margin-top: -58px;
	margin-bottom: -58px;
}

#u245
{
	position: absolute;
	width: 278px;
	padding-bottom: 59px;
	left: 191px;
}

#u245popup
{
	z-index: 38;
}

#u414
{
	z-index: 39;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u423
{
	z-index: 41;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 74px;
}

#u414_img,#u423_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u373
{
	z-index: 43;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 144px;
}

#u414_clip,#u423_clip,#u373_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u373_img
{
	margin-left: -19px;
	margin-right: -19px;
}

#u450
{
	z-index: 45;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 214px;
}

#u414.SSSlideLinkSelected,#u423.SSSlideLinkSelected,#u373.SSSlideLinkSelected,#u450.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 4px -10000px 0px 0px;
}

#u244-4
{
	position: absolute;
	width: 10px;
	min-height: 42px;
	padding: 10px;
	color: #999999;
	line-height: 42px;
	text-align: center;
	font-size: 30px;
	font-family: coda, sans-serif;
	font-weight: 400;
	top: 198px;
}

#u244-4popup
{
	z-index: 47;
}

#u243-4
{
	position: absolute;
	width: 10px;
	min-height: 42px;
	padding: 10px;
	color: #999999;
	line-height: 42px;
	text-align: center;
	font-size: 30px;
	font-family: coda, sans-serif;
	font-weight: 400;
	top: 198px;
	left: 629px;
}

#u243-4popup
{
	z-index: 51;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u87-3
{
	z-index: 6;
	width: 5px;
	margin-left: 487px;
	top: -335px;
	margin-bottom: -17px;
}

#u458-4
{
	z-index: 59;
	width: 74px;
	min-height: 37px;
	line-height: 29px;
	color: #E2E2E9;
	font-size: 24px;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	margin-left: 293px;
	margin-top: 18px;
	position: relative;
}

#u459
{
	z-index: 63;
	width: 420px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 120px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 60px;
}

#page .verticalspacer
{
	clear: both;
}

